<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$1">
  <!-- safety_distance: Minimum safety distance in [m] by which the collision volumes are expanded and which is enforced during robot motions -->
  <xacro:macro name="$1" params="connected_to:='' robot_name:='' rpy:='0 0 0' xyz:='0 0 0' safety_distance:=0">

    <xacro:unless value="${connected_to == ''}">
      <joint name="${robot_name}_$1_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="${robot_name}_$1"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <link name="${robot_name}_$1">
      <visual>
        <geometry>
          <mesh filename="file://$(find robot_arm_tools)/config/tools/$1/$1.stl"/>
        </geometry>
      </visual>
    </link>
    
  </xacro:macro>
</robot>
