<?xml version='1.0' encoding='utf-8'?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rg2_with_base_m">

    <xacro:arg name="robot_name" default="panda" />
    <xacro:arg name="safety_distance" default="0.01"/>
    <xacro:arg name="robot_flange_link" default="panda_link8"/>

    <xacro:include filename="$(find robot_arm_tools)/config/tools/rg2_with_base_m/rg2_with_base_m.xacro"/>
    <xacro:rg2_with_base_m robot_name="$(arg robot_name)" xyz="0.0625 0.2105 0.22358" rpy="-1.57 0 3.14" connected_to="$(arg robot_flange_link)" safety_distance="$(arg safety_distance)"/>
</robot>
